.emoticone {
	font-size: xx-large;
}

.content {
	color:green;
}

.neutre {
	color:black;
}

.triste {
	color:red;
}

.error {
	color:red;
}

.success {
	color:green;
}

.icon {
	font-size: x-large;
}

header .resultat {
	clear:both;
}